.live {
    margin-top: 12vh;

    .main {
        width: 98%;
        margin: 0 auto;
        height: 80vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            width: 75%;
            height: 100%;
            // background-color: red;
        }

        .right {
            width: 25%;
            height: 100%;
            // background-color: blue;
            position: relative;
            // border: 1px solid red;

            .content {
                // background-color: hotpink;
                height: 92%;

                .chat {
                    height: 93%;
                    overflow: scroll;
                    overscroll-behavior-y: contain;
                    scroll-snap-type: y proximity;
                    .cht_msg {
                        padding: 9px;
                        margin-bottom: 12px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        &:last-child {
                            scroll-snap-align: end;
                        }
                        .lt{
                            h5{ 
                                font-family: 'Roboto';
                                opacity: 0.7;
                                padding-bottom: 6px;
                            }
    
                            p {
                                font-family: 'Roboto';
                                font-weight: 500;
                                padding-left: 7px;
                            }

                            span {
                                font-family: 'Roboto';
                                font-size: 12px;
                                opacity: 0.6;
                            }
                        }

                        .rt {
                            display: flex;
                            align-items: center;
                            .lk {
                                margin-right: 10px;
                                span {
                                    color: black;
                                    margin-right: 8px;
                                }
                            }
                            span {
                                color: red;
                                font-family: 'Rubik';
                                font-weight: bolder;
                            }
                        }
                    }
                }

                .inpt {
                    height: 7%;

                    input {
                        border-radius: 9px;
                        border: 1px solid rgb(143, 142, 142);
                        height: 100%;
                        margin: 0 5px;
                        width: 80%;
                        padding: 5px;
                        font-size: 15px;

                        &:focus {
                            outline: none;
                        }
                    }

                    span {
                        width: 20%;
                    }

                    .snd {
                        font-size: 20px;
                        cursor: pointer;
                    }
                }
            }

            .bar {
                width: 100%;
                height: 8%;
                // border: 1px solid goldenrod;
                // background-color: yellow;

                button {
                    margin: 0 2px;
                    height: 100%;
                    width: 30%;
                    background-color: transparent;
                    border: none;
                    font-size: 15px;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    &:focus {
                        transform: scale(1.1);
                        outline: none;
                    }
                }

                // button:first-child {
                //     font-weight: bold;
                // }

            }
        }
    }
}


@media only screen and (max-width: 768px) {


.live {
    .main {
        width: 100%;
        display: block;

        .right {
            width: 100%;
            height: 53%;
            // background-color: red;

            .content {
                .chat {
                    height: 90%;
                }
                
            }
        }

        .left {
            // background-color: red;
            width: 100%;
            height: 57%;
            padding: 0;
        }
    }
}

}

@media only screen and (max-width: 676px) {

    .live {
        .main {
            width: 100%;
            display: block;
    
            .right {
                width: 100%;
                height: 50%;
                // background-color: red;
    
                .content {
                    .chat {
                        height: 90%;
                    }
                    .inpt {
    
                    }
                }
            }
    
            .left {
                // background-color: red;
                width: 100%;
                height: 50%;
                padding: 0;
            }
        }
    }

}

@media only screen and (max-width: 546px) {

    .live {
        .main {
            .right {
                width: 100%;
                height: 70vh;
                // background-color: red;
            }
    
            .left {
                // background-color: red;
                width: 100%;
                height: 30vh;
                padding: 0;
            }
        }
    }
}


@media only screen and (max-width: 441px) {

    .live {
        .main {
            .right {
                width: 100%;
                height: 75vh;
                // background-color: red;
            }
    
            .left {
                // background-color: red;
                width: 100%;
                height: 30vh;
                padding: 0;
            }
        }
    }
}

@media only screen and (max-width: 414px) {
    .live {
        .main {
            .right {
                width: 100%;
                height: 45vh;
                // background-color: red;
            }
    
            .left {
                // background-color: red;
                width: 100%;
                height: 40vh;
                padding: 0;
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    .live {
        .main {
            .right {
                width: 100%;
                height: 45vh;
                // background-color: red;
            }
    
            .left {
                // background-color: red;
                width: 100%;
                height: 42vh;
                padding: 0;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .live {
        .main {
            .right {
                width: 100%;
                height: 45vh;
                // background-color: red;
            }
    
            .left {
                // background-color: red;
                width: 100%;
                height: 40vh;
                padding: 0;
            }
        }
    }
}