.hd-header{
    transition: all 0.5s ease-in-out;
    background-color: white;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    .home-logo {
        h1{
            color: black;
        }
    }

    .home-links .home-links-inner .home-link-default {
        color: black;
        // border: 1px solid transparent;
        padding: 10px 25px;

        &:hover {
            border: 1px solid black;
        }
    }

    .menu{
        width: 100px;
        height: 100px;
        display: none;
    }
}

.hd-trans{
    transition: all 0.2s ease-in-out;
    z-index: 1000;
}

.nav-active {
    border: 1px solid black;
    padding: 10px 25px;
}

.sidebar {
    display: none;
}

@media only screen and (max-width: 768px) {

    .home-links {
        display: none;
    }
    
    .hd-header{
        justify-content: space-between;

        .home-logo {
            // background-color: blue;
            display: flex;
            justify-content: space-around ;
            align-items: center;
            padding-left: 8px;
            width: fit-content;

            .img-logo {
                img{ 
                    transform: scale(0.8);
                }
            }
            h1{
                margin-left: 25px;
                color: black;
                font-size: 29px;
            }
        }

        .menu {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: red;

            .bars {
                color: black;
                font-size: 25px;
            }
        }
    }

    .overlay-side {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.541);
        position: absolute;
        transition: all 0.5s ease-in-out;
        z-index: 1000;
    }

    .sidebar {
        width: 80%;
        height: 100vh;
        position: absolute;
        z-index: 2000;
        transition: all 0.5s ease-in-out;
        display: block;

       .bar {
        height: 14vh;
        width: 100%;
        border-bottom: 1px solid #5a5959;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span{
            padding-right: 15px;
            color: white;
            font-size: 18px;
            width: 10%;
        }

        .img {
            width: 90%;
            height: 100%;
            overflow: hidden;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            img {
                width: 20%;
                margin-left: 15px;
            }
        }
       }


       .sidebar-links {
           height: 100vh;

           .nv-lk {
               height: 12%;
               display: flex;
               justify-content: flex-start;
               align-items: center;
               border-bottom: 1px solid #5a5959;
            .side-link-default {
                color: white;
                text-decoration: none;
                margin-left: 19px;
                font-size: 20px;
                font-family: 'Roboto';
                font-weight: 200;
            }

            button {
                width: 100%;
                height: 100%;
                background-color: transparent;
                color: white;
                border: none;
                font-size: 20px;

                
            }
           }

           
       }
    }

    
}