.hd-header {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: white;
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.hd-header .home-logo h1 {
  color: black;
}

.hd-header .home-links .home-links-inner .home-link-default {
  color: black;
  padding: 10px 25px;
}

.hd-header .home-links .home-links-inner .home-link-default:hover {
  border: 1px solid black;
}

.hd-header .menu {
  width: 100px;
  height: 100px;
  display: none;
}

.hd-trans {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
}

.nav-active {
  border: 1px solid black;
  padding: 10px 25px;
}

.sidebar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .home-links {
    display: none;
  }
  .hd-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hd-header .home-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 8px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .hd-header .home-logo .img-logo img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .hd-header .home-logo h1 {
    margin-left: 25px;
    color: black;
    font-size: 29px;
  }
  .hd-header .menu {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hd-header .menu .bars {
    color: black;
    font-size: 25px;
  }
  .overlay-side {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.541);
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 1000;
  }
  .sidebar {
    width: 80%;
    height: 100vh;
    position: absolute;
    z-index: 2000;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: block;
  }
  .sidebar .bar {
    height: 14vh;
    width: 100%;
    border-bottom: 1px solid #5a5959;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar .bar span {
    padding-right: 15px;
    color: white;
    font-size: 18px;
    width: 10%;
  }
  .sidebar .bar .img {
    width: 90%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar .bar .img img {
    width: 20%;
    margin-left: 15px;
  }
  .sidebar .sidebar-links {
    height: 100vh;
  }
  .sidebar .sidebar-links .nv-lk {
    height: 12%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #5a5959;
  }
  .sidebar .sidebar-links .nv-lk .side-link-default {
    color: white;
    text-decoration: none;
    margin-left: 19px;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 200;
  }
  .sidebar .sidebar-links .nv-lk button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
  }
}
/*# sourceMappingURL=Header.css.map */