.give {
  margin-top: 12vh;
}

.showcase-give {
  width: 100%;
  height: 40vh;
  background: url("../../assets//shw.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.showcase-give .inner {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.showcase-give .inner h1 {
  font-family: 'Roboto';
  font-weight: 200;
  font-size: 55px;
  margin-bottom: 11px;
}

.showcase-give .inner p {
  font-family: 'Roboto';
  font-weight: 200;
}

.qt {
  font-family: 'Roboto';
  font-weight: 200;
  text-align: center;
  margin-top: 30px;
  font-size: 25px;
}

.qt span {
  color: #0084ff;
  font-weight: bold;
}

.qt p {
  padding: 8px 0;
}

.give-form {
  margin-top: 25px;
}

.give-form h1 {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 200;
  font-size: 40px;
}

.give-form .message-box {
  width: 25%;
  height: 17vh;
  margin: 0 auto;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.give-form .message-box p {
  color: white;
  font-size: 18px;
  text-align: center;
}

.give-form .form {
  width: 40%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.give-form .form .name, .give-form .form .phone, .give-form .form .email, .give-form .form .message {
  margin: 0 auto;
  width: 100%;
}

.give-form .form .name h3, .give-form .form .phone h3, .give-form .form .email h3, .give-form .form .message h3 {
  font-family: 'Roboto';
  font-weight: 200;
  font-size: 22px;
  text-align: center;
}

.give-form .form .name h3 span, .give-form .form .phone h3 span, .give-form .form .email h3 span, .give-form .form .message h3 span {
  color: red;
}

.give-form .form .name .input, .give-form .form .phone .input, .give-form .form .email .input, .give-form .form .message .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

.give-form .form .name .input .inpt1, .give-form .form .name .input .inpt2, .give-form .form .phone .input .inpt1, .give-form .form .phone .input .inpt2, .give-form .form .email .input .inpt1, .give-form .form .email .input .inpt2, .give-form .form .message .input .inpt1, .give-form .form .message .input .inpt2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.give-form .form .name .input .inpt1 input, .give-form .form .name .input .inpt1 select, .give-form .form .name .input .inpt2 input, .give-form .form .name .input .inpt2 select, .give-form .form .phone .input .inpt1 input, .give-form .form .phone .input .inpt1 select, .give-form .form .phone .input .inpt2 input, .give-form .form .phone .input .inpt2 select, .give-form .form .email .input .inpt1 input, .give-form .form .email .input .inpt1 select, .give-form .form .email .input .inpt2 input, .give-form .form .email .input .inpt2 select, .give-form .form .message .input .inpt1 input, .give-form .form .message .input .inpt1 select, .give-form .form .message .input .inpt2 input, .give-form .form .message .input .inpt2 select {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #363636;
  margin-bottom: 8px;
  padding: 5px;
}

.give-form .form .name .input .inpt1 small, .give-form .form .name .input .inpt2 small, .give-form .form .phone .input .inpt1 small, .give-form .form .phone .input .inpt2 small, .give-form .form .email .input .inpt1 small, .give-form .form .email .input .inpt2 small, .give-form .form .message .input .inpt1 small, .give-form .form .message .input .inpt2 small {
  opacity: 0.7;
}

.give-form .form .paystack-button {
  margin: 0 auto;
  height: 48px;
  width: 130px;
  background-color: #2d2dfd;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
}

.give-form .form .paystack-button:hover {
  background-color: transparent;
  color: rgba(0, 0, 255, 0.774);
  border: 1px solid blue;
}
/*# sourceMappingURL=Give.css.map */