.footer{
    margin-top: 25px;
    height: auto;
    width: 100vw;
    background-color: #202121;
    color: white;
    padding: 3rem;

    p{
        text-align: center;
        font-size: 28px;
    }
}